{% extends "base.html" %}

{% block main %}
    <h1 class="page-header">Rapper World</h1>
    <table>

        <tr>

            <td>
                <p style="font-size: large;">If you want to make it in the rap/hip hop world then you're going to need an identity, and that starts with the perfect name.
                    Become a real Rapper, enter your <b>FULL NAME</b> and hit submit</p>
            </td>

        </tr>

    </table>
    <form action="{{ url_for('home') }}" method="POST">
        <div align="center"><input type="text" name="realname" size=25>&nbsp;
            <input type="button" value="Enter da Name" name="Submit" required id="submit_button">
        </div>
    </form>
    <br>
    <br>
    <center><label id="result"><b><font class=normalText> {{ rappers }}</label></center>


    <p align="center">

    </body>
    </html>
{% endblock %}

{% block js %}
    <script>
    $('#submit_button').on('click', function () {
        debugger
        $.get("http://event_generator_name-api:8000/name-api", function (data, status) {
            var rapper_id = data.id
            $.post("http://event_generator_date-api:8000/date-api",{"id": rapper_id} ,function (data, status) {
              console.log(data.date);
              $.post("http://event_generator_display-api:8000/display-api",{"id": rapper_id} ,function (data, status) {
                    console.log(data.data);
                    $('#result').text(data.data);
              });
            })
            return true;
        });
        return true;
    })

    </script>
{% endblock %}
